.work-period {
    .work-period-content {
        .btn-block {
            background: var(--primary);
            border-radius: 0;
            color: var(--white);
            border: 0;
            box-shadow: none !important;
            position: relative;
            font-weight: 500;
            text-align: center;
            text-transform: uppercase;
            max-width: 300px;
            margin: 10px auto;
        }

        .btn-disconnect {
            background: red;
            border-radius: 0;
            color: var(--white);
            border: 0;
            box-shadow: none !important;
            position: relative;
            font-weight: 500;
            text-align: center;
            text-transform: uppercase;
            max-width: 300px;
            margin: 10px auto;
        }
    }
}