.table-header {
    color: var(--text-light2);
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    background: var(--secondary);
    border-bottom: 1px solid var(--primary);
    padding: 8px 0px;
}

.table-row {
    margin: 0;
    font-size: 1rem;
    text-align: center;
    background: var(--secondary);
    align-items: center;

    ion-col:nth-child(1), ion-col:nth-child(2), ion-col:nth-child(3) {
        color: var(--white);
    }

    ion-col:nth-child(4) {
        color: var(--text-light2);
    }

    .action-buttons {
        display: inline-flex;
    }
}

.table-row:nth-child(odd) {
    background: var(--secondary);
}

.table-row:nth-child(even) {
    background: var(--bg_color2);
}

.trash {
    background: var(--bg-color);
    color: red;
    border-radius: 4px;
    /* margin: 0 2px; */
    /* min-width: 33px; */
    font-size: 1rem;
    padding: 8px 0px 4px 1px;
    width: 33px;
    margin: 5px auto;
}

.btn-connect {
    background: var(--primary);
    border-radius: 0;
    color: var(--white);
    border: 0;
    box-shadow: none !important;
    position: relative;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin: 0px 5px;
    padding: 10px 20px;
}

.btn-disabled {
    background: var(--primary);
    border-radius: 0;
    color: var(--text-light);
    border: 0;
    box-shadow: none !important;
    position: relative;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin: 0px 5px;
    padding: 10px 20px;
}

.btn-disconnect {
    background: red;
    border-radius: 0;
    color: var(--white);
    border: 0;
    box-shadow: none !important;
    position: relative;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin: 0px 5px;
    padding: 10px 20px;
}
